.top{
  background: transparent url(header.jpg) no-repeat
  fixed 50% 50%;
  background-size: cover;
text-align: center;
  }

  .text{
    position: absolute; top: 30%; width: 100%; text-align: center;
    
  }

  .kicker{
    display: flex;
    flex-direction: row;
    
  }
  
  .buttom{
    border: none;
    color: black;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.3s;
    font-size: 1.5rem;
    outline: none;
    font-family:georgia;
    text-decoration-color: white ;
  }

  #container{
    width: 960px;
    margin: 0 auto;
    
    }
  
    
  .cards{
    display:flex;
   justify-content: center;
  }
 
.box {
width: 500px;
height: 500px;
border: 0.1px solid black;
margin: 5px;
font-size: 15px;
text-align: center;
padding-top: 1px;
}

.pirate{
  background: white;
}

.cat{
  background: white;
}
.cake{
  background: white;
}

.zombie{
  background: white;
}

/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;

  /* Lætur skroll innan síðu taka tíma */
  scroll-behavior: smooth;
}

/* og látum erfast á allt */
*, *:before, *:after {
  box-sizing: inherit;
}

/* Breytur sem skal nota */

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Hámarksbreidd á efni */
  --max-width: 1200px;

  --color-primary: #f0f0f8;

  --color-header: #fff;
  --color-text: #000;
  --color-border: #ccc;

  /* Letur stillingar */
  --font-base-body-px: 16px;
  --font-base-size: 1rem;
  --font-family-base: 'Nunito', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Domine', Georgia, serif;
}

/* Leturgerðir */

/* TODO Setja upp leturgerðir */

/* Almennt */

body {
  color: var(--color-text);
  font-size: var(--font-base-body-px);
  line-height: 1.5;
  font-family: var(--font-family-base);
}

h1, h2, h3 {
  font-family: var(--font-family-heading);
}

img {
  max-width: 100%;
}

.button {
  display: inline-block;

  /* TODO útlit á button */
}

.button-secondary {
  /* TODO */
}

/* Layout */

main {
  margin: 0 auto;
  max-width: var(--max-width);
}

.info-boxes {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}

/* Header */

header {
}

/* TODO */

/* Upplýsingasvæði */

/* TODO */

/* Cards */

/* TODO */
  